{
  "branches": [
    "v2-main",
    {
      "name": "v2-develop",
      "prerelease": "beta"
    }
  ],
  "tagFormat": "${version}",
  "repositoryUrl": "https://github.com/InseeFr/Public-Enemy",
  "debug": "true",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "writerOpts": {
          "groupBy": "type",
          "commitGroupsSort": "title",
          "commitsSort": "header"
        },
        "linkCompare": true,
        "linkReferences": true
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Semantic Versioning Changelog"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "yarn version --no-git-tag-version --new-version \"${nextRelease.version}\""
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json"
        ],
        "message": "chore(release): Bumped to version ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github",
    [
      "@saithodev/semantic-release-backmerge",
      {
        "backmergeBranches": [
          {
            "from": "v2-main",
            "to": "v2-develop"
          }
        ]
      }
    ]
  ]
}
